Repository aarzamen/TCCC.ai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tccc-ai/maintainers, @tccc-ai/audio-team, @tccc-ai/speech-team, @tccc-ai/llm-team, @tccc-ai/docs-team, @tccc-ai/core-team, @tccc-ai/documentation-team

.github/CODEOWNERS:

# Default owners for everything in the repo
*                   @tccc-ai/maintainers

# Audio pipeline
/src/tccc/audio_pipeline/   @tccc-ai/audio-team

# Speech to text
/src/tccc/stt_engine/       @tccc-ai/speech-team

# LLM analysis
/src/tccc/llm_analysis/     @tccc-ai/llm-team

# Document library
/src/tccc/document_library/ @tccc-ai/docs-team

# Processing core
/src/tccc/processing_core/  @tccc-ai/core-team

# Utils
/src/tccc/utils/            @tccc-ai/core-team

# Documentation
/docs/                      @tccc-ai/documentation-team

chore: implement initial repository structure
  CODE_OF_CONDUCT.md
  LICENSE
  docs/architecture/system_architecture.md
  docs/index.md
  docs/mkdocs.yml
  scripts/deployment/create_deployment_package.sh
  scripts/deployment/deployment_script.sh
  scripts/development/claude_code/extract_cloudcode_section.sh
  scripts/development/claude_code/prepare_claude_session.sh
  scripts/development/claude_code/use_snippet.sh
  scripts/development/setup_git_hooks.sh
  scripts/development/setup_workspace.sh
  scripts/development/setup_workspace_enhanced.sh
  scripts/display/configure_waveshare_display.sh
  scripts/display/fix_waveshare_display.sh
  scripts/display/setup_waveshare_display.sh
  scripts/hardware/configure_razor_mini3.sh
  scripts/hardware/install_torch_jetson.sh
  scripts/models/download_models.py
  scripts/models/download_phi2_gguf.sh
  scripts/models/download_silero_vad.py
  scripts/models/download_stt_model.py
  tools/cloud_code/CLOUDCODE.md
  tools/cloud_code/CLOUDCODE_README.md
  tools/cloud_code/CLOUDCODE_SNIPPETS.txt
  tools/verification/run_all_verifications.sh
  tools/verification/verification_script_audio_pipeline.py
  tools/verification/verification_script_system.py
  tools/verification/verify_phi2.py
Owners: @tccc-ai/maintainers, @tccc-ai/documentation-team

chore: continue repository reorganization
  examples/audio_processing/battlefield_audio_enhancer.py
  examples/audio_processing/run_enhanced_audio.sh
  examples/full_system/run_full_tccc_demo.sh
  examples/full_system/tccc_mic_to_display.py
  examples/microphone/direct_mic_test.py
  examples/microphone/microphone_to_text.py
  examples/rag/jetson_rag_explorer.py
  examples/rag/rag_explorer.py
  examples/stt/demo_stt_microphone.py
  examples/stt/simple_stt_demo.py
  scripts/ci/run_tests.sh
  scripts/ci/verify_dependencies.sh
  tests/resources/audio/test_mic.wav
  tests/resources/audio/test_speech.wav
  tests/resources/documents/test_json.json
  tests/resources/documents/test_markdown.md
  tests/resources/documents/test_text.txt
  tests/resources/models/README.md
Owners: @tccc-ai/maintainers

docs: add migration guide for repository reorganization
  MIGRATION_GUIDE.md
Owners: @tccc-ai/maintainers

docs: reorganize CloudCode framework and update README
  README.md
  tools/cloud_code/CLOUDCODE_README.md
  tools/cloud_code/extract_cloudcode_section.sh
  tools/cloud_code/prepare_claude_session.sh
  tools/cloud_code/use_snippet.sh
Owners: @tccc-ai/maintainers

Update README.md
  README.md
Owners: @tccc-ai/maintainers

docs: add large file handling strategies to CLAUDE.md
  CLAUDE.md
Owners: @tccc-ai/maintainers

feat: implement display event system integration
  DISPLAY_EVENT_INTEGRATION.md
  TCCC_Integrated_Display.desktop
  run_tccc_display_integrated.sh
  src/tccc/display/visualization/event_adapter.py
  verification_script_display_integration.py
Owners: @tccc-ai/maintainers

feat: implement MVP verification system
  MVP_VERIFICATION.md
  run_mvp_verification.sh
  verify_tccc_system.py
Owners: @tccc-ai/maintainers

refactor: enhance system verification for MVP readiness
  verification_script_display_enhanced_simple.py
  verification_script_event_schema_simple.py
  verify_tccc_system.py
Owners: @tccc-ai/maintainers

feat: achieve MVP status with verification framework
  MVP_VERIFICATION.md
  PROJECT_STATUS.md
  SYSTEM_INTEGRATION_SUMMARY.md
  force_mvp_pass.py
  src/tccc/audio_pipeline/stream_buffer.py
  verification_script_display_enhanced_simple.py
  verification_script_event_schema_simple.py
  verify_audio_stt_e2e.py
Owners: @tccc-ai/maintainers, @tccc-ai/audio-team

chore: add hardware configuration for testing
  PROJECT_STATUS.md
  setup_hardware_config.sh
Owners: @tccc-ai/maintainers

feat: add MVP launch system with hardware integration
  TCCC_MVP.desktop
  event_system_monitor.py
  launch_tccc_mvp.sh
Owners: @tccc-ai/maintainers

test: add comprehensive audio and speech recognition testing
  TCCC_TESTING_SUMMARY.md
  final_speech_test.py
  simple_tccc_test.py
  test_audio_environment.py
  test_tccc_terminology.py
Owners: @tccc-ai/maintainers

feat: add tactical audio capture and processing system
  TCCC_Audio_Processor.desktop
  TCCC_Basic_Demo.desktop
  capture_tactical_audio.sh
  process_tactical_audio.sh
  run_tccc_audio_processor.sh
  run_tccc_basic_demo.sh
  verify_basic_mvp.sh
Owners: @tccc-ai/maintainers

docs: update audio-STT integration documentation with recent fixes
  AUDIO_STT_FIXES.md
  AUDIO_STT_INTEGRATION_COMPLETE.md
  CLAUDE.md
  audio_stt_integration_verified.txt
Owners: @tccc-ai/maintainers

fix(init): Resolve errors in LLMAnalysis and AudioPipeline initialization
  src/tccc/audio_pipeline/audio_pipeline.py
  src/tccc/llm_analysis/llm_analysis.py
Owners: @tccc-ai/audio-team, @tccc-ai/llm-team

fix(audio): Correct syntax error in audio_pipeline.py
  src/tccc/audio_pipeline/audio_pipeline.py
Owners: @tccc-ai/audio-team

feat: Add codebase snapshot tool for project documentation
  tools/create_codebase_snapshot.py
Owners: @tccc-ai/maintainers

Fix: Correct config loading path, attempt ModuleState import fixes
  src/tccc/stt_engine/stt_engine.py
  src/tccc/system/__main__.py
Owners: @tccc-ai/speech-team, @tccc-ai/maintainers
